
.form-control{
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.7em;  
    color: rgb(20, 134, 72); 
     
}

#input-reserva{
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.7em;
    color: rgb(20, 134, 72);  
}
.btn-outline-primary{
    margin-left: 5rem;
    margin-top: 3rem;
}
.btn-outline-light{
    margin-top: 3rem;
    
}
.btn-outline-warning{
    border-radius: 1rem;
    padding: 5px 10px;
    margin-left: 10rem;
    border: none;
    width: 50%;
    opacity: 0.9;
    font-size: 1.5em;

}
// .btn-outline-warning:hover {
//     opacity: 90%;
// }    
.btn-outline-danger {
    width: 15rem;
    align-self: flex-end;
    margin-right: 2rem;
    position: fixed;
    margin-top: 2rem;
    
}
// Estilo Botton cambiar Tema 

.inputOne[type=checkbox] {
    visibility: hidden;
  }
  .inputOne[type=checkbox]:checked + .labelOne {
    transform: rotate(360deg);
    background-color: #000;
  }
  .inputOne[type=checkbox]:checked + .labelOne:before {
    transform: translateX(80px);
    background-color: #fff;
  }
  
  .labelOne {
    display: flex;
    width: 150px;
    height: 60px;
    border: 6px solid;
    border-radius: 99em;
    position: relative;
    transition: transform 0.75s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;
  }
  .labelOne:before {
    transition: transform 0.75s ease;
    transition-delay: 0.5s;
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    top: 4px;
    left: 5px;
  }

