
.form-control{
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.7em;  
    color: rgb(20, 134, 72); 
     
}

#input-reserva{
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.7em;
    color: rgb(20, 134, 72);  
}
.btn-outline-primary{
    margin-left: 5rem;
    margin-top: 3rem;
}
.btn-outline-light{
    margin-top: 3rem;
    
}
.btn-outline-warning{
    border-radius: 1rem;
    padding: 5px 10px;
    margin-left: 10rem;
    border: none;
    width: 50%;
    opacity: 0.9;
    font-size: 1.5em;

}
// .btn-outline-warning:hover {
//     opacity: 90%;
// }    
.btn-outline-danger {
    width: 15rem;
    align-self: flex-end;
    margin-right: 2rem;
    position: fixed;
    margin-top: 2rem;
    
}

