
body{  
    display: flex;
    flex-direction: column;
    background-image: url("../Imagenes/body-f3.jfif");
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 100vh;
}  

.bold{
    color: black;
    
}  
@media only screen and (max-width: 400px) {      

}